@media only screen and (min-width:200px) and (max-width: 991px) {
    
    
    header{
        height: 60px;
        /* background-color: rgb(116, 116, 179); */
    }
    .logo{
        height: 50px;
        width: 180px;
        position: absolute;
        left: 4%;
        top: 0px;
        /* background-color: aqua; */
    }
    .logo h1{
        font-size: 40px;
        color: #046ee8;
    }
    .navlinks{
        height: 80vh;
        width: 100%;
        left: -100%;
        top: 60px;
        background-color: transparent;
        transition: all 500ms;
    }
    .navlinks ul li{
        display: block;

    }
    .navlinks ul li a{
        position: relative;
        font-size: 22px;
        font-weight: 500;
        top: 15px;
        line-height: 2;
        margin-left: 30px;
        color: var(--dark-color);
    }
    .navlinks ul li a:hover::after{
        display: none;
    }

    .navlinks ul li:hover .dropdown{
        display: block;
        position: relative;
        top: 15px;
        left: 28px;
    }
    .navlinks .dropdown ul li a{
        line-height: 1.5;
        
    }
    .navlinks ul li button{
        left: 7%;
        
        padding: 10px 90px;
        position: relative;
        top: 5vh;
    }
    .burger {
        display: block;
        
    }
    .navlinks-active{
        left: 0;
    }
    
    
    
}  
   /* { 
    .burger {
        display: block;
    }

    .navlinks {
        background: hsl(180, 84%, 75%);
        position: absolute;
        left: -100%;
        aline top side-------
        top: 54px;
        width: 40%;
        aline  bottom side---
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 500ms;
    }

    .navlink {
        text-align: center;
    }

    .nav-active {
        left: 0;
    } 

}